<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Angular application</title>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<style>
		.container{padding-top: 100px;}
		a{cursor: pointer;}
	</style>
</head>
<body>
	<div class="container">
		<div ng-controller="CatalogueController as sc">
			
			<div class="form-inline">
				<div class="form-group">
					<label>Быстрый поиск</label>
					<input type="text" ng-model="sc.search" class="form-control">
					<select ng-model="sc.search" class="form-control">
						<option value="yota">yota</option>
						<option value="iphone">iphone</option>
					</select>
				</div>
			</div>

			<table class="table table-striped">
				<thead>
					<tr>
						<td>Title</td>
						<td>Price</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="product in sc.catalogueItems | orderBy:'price' | filter:sc.search">
						<td>{{product.name}}</td>
						<td>{{product.price | currency:"$":0}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script src="../bower_components/angular/angular.js"></script>
	<script src="app.js"></script>
</body>
</html>