<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Angular application</title>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<style>
		.container{padding-top: 100px;}
		a{cursor: pointer;}
	</style>
</head>
<body>
	<div class="container">
		<div ng-controller="CatalogueController as sc">
			Быстрый поиск <input type="text" ng-model="sc.search">
			<table class="table table-striped">
				<thead>
					<tr>
						<td>Title</td>
						<td>Price</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in sc.catalogueItems | orderBy:'-name' | filter:sc.search" ng-include="'template.html'"></tr>
				</tbody>
			</table>
		</div>
	</div>
	<script src="../bower_components/angular/angular.js"></script>
	<script src="app.js"></script>
</body>
</html>