<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular для верстальщика</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>Angular для верстальщика</h1>
			<p class="lead">Примеры к презентации</p>
		</div>
		<ol>
			<li>
				<a href="1/hello.html" target="_blank">Подключаем Angular</a>
			</li>
			<li>
				<a href="2/app.html" target="_blank">Создаем каркас приложения. Подключаем Angular UI Bootstrap, берем оттуда тултип-директиву</a>
			</li>
			<li>
				<a href="3/index.html">Контроллер</a>
			</li>
			<li>
				<a href="4/index.html">Фильтры, ng-repeat, orderBy</a>
			</li>
		</ol>
	</div>
</body>
</html>