<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Angular application</title>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<style>
		.container{padding-top: 100px;}
		a{cursor: pointer;}
	</style>
</head>
<body>
	<div class="container">
		<div ng-controller="ClickController as cc">
			<a ng-href="{{cc.link}}" ng-click="cc.updateClick()">{{::cc.labelText}}</a>
			<p>
				You clicked {{cc.clicked}} times!
			</p>
		</div>
	</div>
	<script src="../bower_components/angular/angular.js"></script>
	<script src="app.js"></script>
</body>
</html>