<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../bower_components/angular/angular-csp.css">
</head>
<body>
	<h1 ng-cloak>
		{{::'Hello' + ' ' + 'Angular!'}}
	</h1>
	<script src="../bower_components/angular/angular.js"></script>
</body>
</html>